@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Jenkins Deploy V2 by 2018/10/28 Build Test</h1>
	<h1>測試成功</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    
</div>